/***RUN https://syndishanx.github.io/Website/Update_Classes.html WHEN SHIT BREAKS***/


 @import url('https://slippinggittys-discord-Themes.github.io/surCord/src/fixations/additions/themes/materialdark.css'); 
 @import url('https://slippinggittys-discord-Themes.github.io/surCord/src/source.css');
 @import url("https://Cinnab0nBak3ry.github.io/AppleFontsCSS/Apple-fonts.css");
 @import url("https://minidiscordthemes.github.io/Squared/sq.min.css");
 @import url("https://discordstyles.github.io/HorizontalServerList/resizablelist.css");
 @import url("https://maendisease.github.io/BetterDiscordStuff/css/ChatBubbles.css");

:root {
    --chat-bubble: 1;

    --chat-bubble-background-color: var(--background-secondary);
    --chat-bubble-border-color: var(--background-secondary-alt);
    --chat-bubble-code-background-color: var(--background-secondary-alt);

    --chat-bubble-max-width: 90%;
    --chat-bubble-border-radius: 8px;

    --chat-bubble-box-shadow-h-offset: 0;
    --chat-bubble-box-shadow-v-offset: 4px;
    --chat-bubble-box-shadow-blur: 4px;
    
    --chat-bubble-box-shadow-color-h: 0;
    --chat-bubble-box-shadow-color-s: 0%;
    --chat-bubble-box-shadow-color-l: 0%;
    --chat-bubble-box-shadow-color-a: 0.16;
}

/*emoji menu bgs */
.contentWrapper_af5dbb,.popoutContainer_cf58b5 {
	background:rgb(0,0,0);
}
.wrapper_c6ee36 .emojiPicker_c6ee36{
	background-color:rgb(0, 0, 0);backdrop-filter:blur(10px)
}
/*accent colours (pings etc) */
  :root {
    --accent: rgba(86, 194, 202, 0.603);
    --accent-hover: rgb(237,150,186);
    --accent-selected: rgba(237, 150, 186, 0.301);
    --accent-focused: ;
  }
  
:root {
  --server-size: 40px; /* Size of the server icons */
}

#oneko {
z-index: 1000;
}

/* reaction colours */
#app-mount .reaction_ec6b19.reactionMe_ec6b19 {
  border-color: rgb(212,175,55);
}
#app-mount .reaction_ec6b19.reactionMe_ec6b19 .reactionCount_ec6b19 {
  color: rgb(238,232,170);
}
#app-mount .reaction_ec6b19 {
  border-radius: 5px;
}
/* font type */
#app-mount {
  font-family: gg sans ;
}

/* disables decoration */
.avatarDecoration_a0e502,
.avatarDecoration_b74403,
.avatarDecoration_ab876d,
.avatarDecoration_c51b4e,
.avatarDecoration_f9f2ca,
.avatarDecorationHint_f89da9,
.profileEffects_f867f9{
display: none;
}

/* disables gift button */
.buttons_d0696b > .button_dd4f85 {
    display: none;
}

/*blurred spoilers */
.spoilerMarkdownContent_a3d0f7 {
    background-color: transparent;
}
.spoilerMarkdownContent_a3d0f7.hidden_a3d0f7 {
    filter: blur(2px);
}
.obscuredTextContentInner_a3d0f7 {
    opacity: 1;
    --__current--spoiler-content-opacity: 1;
    --__current--spoiler-text-color: var(--text-normal) !important;
}

/* Hide Nitro and Shop */
nav[class*="privateChannels" i] [data-list-item-id*="nitro"], nav[class*="privateChannels" i] [data-list-item-id*="shop"] {
    display:none; 
}

/* emoji menu */
#app-mount .autocomplete_bcc24e {
    background-color: #030303;
}

